<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .card {
            background-color: #f9f9f9;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .card h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .card h3 {
            font-size: 18px;
            color: #666;
            margin-bottom: 10px;
        }

        .card p {
            font-size: 16px;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <header>
        <h1>My Blog</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/createBlog">Add Blog</a>
            
        </nav>
    </header>
    <div class="container">
        <% if (blogs.length ==0 ) { %>
           <h1>There isn't any blog in the database</h1>
       <% } else {  %>
            <% blogs.forEach((blog)=>{ %>
                <div class="card">
                    <h2><%- blog.title %> </h2>
                    <h3><%- blog.subTitle %> </h3>
                    <p> <%- blog.description.slice(0,101)+"...."  %> <a href="/single/<%- blog.id %>" >Read more</a> </p>
                    
                    
                </div>
           <% }) %>
        </div>
       <% }  %>
       
        
</body>
</html>
